.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  font-family: "Inter", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  gap: 10px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px black solid;
}
